<header class="navbar-students">
    <div class="navbar-container">
        <div class="logo-container">
            <img src="Logo-EST.svg" alt="Logo" class="logo-img">
            <h1 class="logo-text">UpEducation</h1>
        </div>
        <nav class="nav-menu">
            <ul class="nav-list">
                <li class="nav-item"><a href="#" class="nav-link" (click)="sendHome($event)">Inicio</a></li>
                <li class="nav-item"><a href="#" class="nav-link" (click)="sendAsignature($event)">Asignaturas</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Cursos</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Contacto</a></li>
            </ul>
        </nav>
        <button class="login-button">Iniciar Sesión</button>
    </div>
</header>
